.bg-primary-custom {
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(20px);
}

.bg-secondary-custom {
  background-color: rgba(255, 255, 255, 1);
}

.color-normal {
  background-color: rgba(199, 180, 159, 1) !important;
}

.color-grass {
  background-color: #00fea9 !important;
}

.color-poison {
  background-color: rgba(207, 97, 238, 1) !important;
}

.color-flying {
  background-color: rgba(211, 224, 255, 1) !important;
}

.color-fire {
  background-color: #ff001f !important;
}

.color-water {
  background-color: #0086ff !important;
}

.color-bug {
  background-color: #65ff00 !important;
}

.color-electric {
  background-color: rgba(255, 234, 97, 1) !important;
}

.color-ground {
  background-color: rgba(213, 190, 122, 1) !important;
}

.color-fairy {
  background-color: rgba(246, 191, 196, 1) !important;
}

.color-fighting {
  background-color: rgba(255, 143, 73, 1) !important;
}

.color-psychic {
  background-color: rgba(247, 133, 200, 1) !important;
}

.color-rock {
  background-color: rgba(185, 177, 137, 1) !important;
}

.color-steel {
  background-color: rgba(179, 178, 180, 1) !important;
}

.color-ghost {
  background-color: rgba(111, 112, 167, 1) !important;
}

.color-ice {
  background-color: rgba(188, 225, 243, 1) !important;
}

.color-dragon {
  background-color: rgba(60, 159, 187, 1) !important;
}

.color-dark {
  background-color: rgba(118, 112, 131, 1) !important;
}

.bg-success {
  background-color: #40c21b;
}

.bg-danger {
  background-color: #d1052a;
}

.bg--danger {
  background-color: #d6a3dc;
}

.bg-primary {
  background-color: #122397;
}

.bg--primary {
  background-color: #ffb284;
}

.bg-warning {
  background-color: #ffd248;
}
