.bg-primary-custom {
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(20px);
}

.bg-secondary-custom {
  background-color: rgba(255, 255, 255, 1);
}

.color-normal {
  background-color: rgba(199, 180, 159, 1);
}

.color-grass {
  background-color: #00fea9;
}

.color-poison {
  background-color: rgba(207, 97, 238, 1);
}

.color-flying {
  background-color: rgba(211, 224, 255, 1);
}

.color-fire {
  background-color: #ff001f;
}

.color-water {
  background-color: #0086ff;
}

.color-bug {
  background-color: #65ff00;
}

.color-electric {
  background-color: rgba(255, 234, 97, 1);
}

.color-ground {
  background-color: rgba(213, 190, 122, 1);
}

.color-fairy {
  background-color: rgba(246, 191, 196, 1);
}

.color-fighting {
  background-color: rgba(255, 143, 73, 1);
}

.color-psychic {
  background-color: rgba(247, 133, 200, 1);
}

.color-rock {
  background-color: rgba(185, 177, 137, 1);
}

.color-steel {
  background-color: rgba(179, 178, 180, 1);
}

.color-ghost {
  background-color: rgba(111, 112, 167, 1);
}

.color-ice {
  background-color: rgba(188, 225, 243, 1);
}

.color-dragon {
  background-color: rgba(60, 159, 187, 1);
}

.color-dark {
  background-color: rgba(118, 112, 131, 1);
}
