.content {
  background: $seconday;
  align-items: center;
  display: flex;
  flex-direction: column;

  .wrapper-principal-info {
    border-radius: 0 0 35% 35%;
    width: 100%;

    .info {
      padding: 0.5em 1.5em 0 1.5em;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          i {
            color: $light-color;

            @media (min-width: 768px) {
              font-size: 1.3em;

              @media (min-width: 1024px) {
                font-size: 1.8em;
              }
            }
          }
        }

        .item--speech {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          background: #32ccff;
          border: 0.3rem solid $light-color;
          cursor: pointer;
        }

        .animate-speech {
          animation: flashBg infinite 0.7s;
        }

        @keyframes flashBg {
          0%,
          50%,
          100% {
            background-color: #32ccff;
            box-shadow: 0 ​0 7px #fff;
          }
          25%,
          75% {
            background-color: #fff;
            box-shadow: 0 ​0 15px #fff;
          }
        }
      }

      .id {
        margin: 0.5em 0;
        font-size: 1.2em;
        color: $light-color;

        @media (min-width: 768px) {
          font-size: 1.8em;

          @media (min-width: 1024px) {
            font-size: 2em;
          }
        }
      }

      .name {
        margin: 0;
        font-size: 1.5em;
        color: $light-color;
        font-weight: 700;
        text-transform: capitalize;

        @media (min-width: 768px) {
          font-size: 2.5em;

          @media (min-width: 1024px) {
            font-size: 3em;
          }
        }
      }
    }

    .image {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      padding-bottom: 0.5em;

      img {
        width: 30%;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s ease-in-out;
        }
        @media (min-width: 768px) {
          width: 20%;

          @media (min-width: 1024px) {
            width: 15%;
          }
        }
      }
    }
  }

  .wrapper-other-info {
    width: 90%;

    .buttons {
      margin: 1em;
      display: flex;
      justify-content: space-evenly;

      @include info-button;
    }

    .info {
      text-align: center;
      margin-bottom: 6.5rem;
      div {
        justify-content: center;
        align-items: center;

        h4 {
          color: $background-color;
          margin: 1rem;
          @media (min-width: 768px) {
            font-size: 1.3em;

            @media (min-width: 1024px) {
              font-size: 1.8em;
            }
          }
        }
        p {
          margin: 0;
          font-size: 0.8em;
          text-align: left;
          @media (min-width: 768px) {
            font-size: 1em;
            @media (min-width: 1024px) {
              font-size: 1.5em;
            }
          }
        }
      }

      .status {
        #pokemonType {
          display: flex;
          color: transparent;
          margin: 0;

          .pokemon-type {
            padding: 3px 8px;
            border-radius: 1.2rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.2);
            color: #ffffff;
            font-weight: 500;
            text-align: center;
            margin: 3px;
            text-transform: capitalize;
            font-size: 0.8em;
            margin: 1rem;

            @media (min-width: 768px) {
              font-size: 1em;

              @media (min-width: 1024px) {
                font-size: 1.5em;
              }
            }
          }
        }
      }

      .stats-evolution {
        margin: 2rem 0;
        @media (min-width: 768px) {
          display: flex;

          @media (min-width: 1024px) {
            display: flex;
          }
        }
        .statistics {
          margin: 0;
          flex-wrap: wrap;
          width: auto;
          @media (min-width: 768px) {
            width: 50%;

            @media (min-width: 1024px) {
              width: 50%;
            }
          }

          .graphic {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .item {
              margin: 0.5rem;
              @media (min-width: 768px) {
                margin: 1.5rem;

                @media (min-width: 1024px) {
                  margin: 1.5rem;
                }
              }
              .bar {
                position: relative;
                margin: 0;
                width: 8.5rem;
                height: 1.3rem;
                border: 1px solid #615a5a;
                border-radius: 1rem;
                overflow: hidden;
                @media (min-width: 768px) {
                  width: 13rem;

                  @media (min-width: 1024px) {
                    width: 13rem;
                  }
                }

                span {
                  text-align: center;
                  width: auto;
                  position: absolute;
                  height: auto;
                  margin: 0;
                  font-size: 0.8rem;
                  top: 15%;
                  left: 10%;
                  color: $light-color;
                }
                .bar-color {
                  width: 24%;
                  height: 100%;
                  margin: 0;
                }
              }
            }
          }
        }

        .evolution {
          margin: 0;

          width: auto;
          @media (min-width: 768px) {
            width: 50%;

            @media (min-width: 1024px) {
              width: 50%;
            }
          }

          .evolution-img-wrapper {
            display: flex;
            justify-content: center;
            overflow-x: scroll;
            width: 100%;
            margin: auto;
            max-width: 100%;

            .item-img-column {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              color: transparent;
            }

            .item-img-evolution {
              margin: 0.7rem;
              transition: all 0.5s ease-in-out;

              h6 {
                color: black;
                margin: 0;
              }
            }

            .item-img-evolution .img-pokemon-evolution {
              width: 100px;
              image-rendering: auto;
            }

            .item-img-evolution a {
              display: block;
            }

            .item-img-evolution:hover {
              transform: scale(1.1);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    margin: 1rem;

    a {
      text-decoration: none;

      div {
        margin: 0.5rem;
        background: black;
        border-radius: 50%;
        padding: 1rem;
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.5rem;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.06);
          transition: transform 0.2s ease-in-out;
        }

        i {
          color: $background-color;
        }
      }
    }
  }
}
