@mixin index-button {
  position: absolute;
  top: 0;
  right: 0;
  background: $light-color;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  color: $background-color;
  font-size: 1em;
  padding: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}

@mixin info-button {
  a {
    text-decoration: none;
    background: $background-color;
    color: $light-color;
    border-radius: 5em;
    padding: 0.5em;

    @media (min-width: 768px) {
      font-size: 1.3em;

      @media (min-width: 1024px) {
        font-size: 1.8em;
      }
    }
    &:hover {
      background: none;
    }

    &:focus {
      background: none;
    }
  }
}

@mixin search-button {
  .search {
    &:hover input {
      width: 15em;
    }

    input {
      width: 0;
      height: 1.5em;
      padding: 0.3em;
      font-size: 1em;
      font-family: $font-primary;
      color: $text-primary;
      outline: none;
      border: 1px solid $background-color;
      border-radius: 30px;
      transition: all 0.6s ease;

      @media (min-width: 768px) {
        font-size: 1.2em;

        @media (min-width: 1024px) {
          font-size: 1.5em;
        }
      }

      &:focus {
        width: 15em;
      }
    }

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      background: $light-color;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      text-align: center;
      color: $background-color;
      font-size: 1em;
      padding: 0.2em;
      border-radius: 50%;
      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 1.2em;

        @media (min-width: 1024px) {
          font-size: 1.5em;
        }
      }
    }
  }
}

@mixin pokemon-card {
  a {
    text-decoration: none;
    color: $text-primary;
    .card {
      display: flex;
      background: $primary;
      height: auto;
      padding: 0.3em;
      border-radius: 1.3rem;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 20px;
      overflow: hidden;
      position: relative;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.06);
        transition: transform 0.3s ease-in-out;
      }

      &:focus {
        transform: scale(1.06);
        transition: transform 0.3s ease-in-out;
      }

      .pokemon-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 130px;
          -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.7));
          -webkit-filter: drop-shadow(0 1px 3px hsla(0, 0%, 100%, 0.9));
          filter: drop-shadow(0 1px 3px rgba(255, 255, 255, 0.9));
        }
      }
      .pokemon-info {
        width: 100%;
        margin: auto;

        h3 {
          font-weight: 600;
          color: $text-primary;
          margin: 0 0 0.8rem 0;
          text-transform: capitalize;
        }
        .wrapper-species {
          height: auto;
          display: flex;
          flex-wrap: wrap;
          color: transparent;

          .pokemon-type {
            padding: 3px 8px;
            border-radius: 1.2rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background: rgba(0, 0, 0, 0.2) !important;
            color: #ffffff;
            font-weight: 500;
            text-align: center;
            margin: 3px;
          }
        }
      }
    }
  }
}
